body{
    margin: 0;
    background-color: #F2F2F2;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
    width: 5px;
    
   
  }
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  
    background-color: #999;
    
   
  }

p,ul{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
a{
    text-decoration: none;
   
}