.nftbox{
   
    width: 100%;
    /* background-color: #F2F2F2;  */
    padding: 50px;
    /* box-shadow: 0px 20px 50px rgb(1 1 0 / 19%);   */
    /* height: auto; */
    border-radius: 15px;

}

.nftbox img{
    
    width: 100%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 20px 50px rgb(1 1 0 / 19%);     

}

.nftDes{
    padding-top: 50px;
  
    

}
.cont{
    padding: 30px;
    border-radius: 10px;
    /* background-color: #F2F2F2; */
    border: 1px solid #999;
    margin-bottom: 15px;
    

}
.cont h2{
    font-size: 35px;
    font-weight: bolder;
    color: black;
}
.owner{
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #999;
    margin-bottom: 15px;

}
.owner h4{
   color: black;
}
.buy{
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #999;

}

.ownerAdd{
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	max-width:100%;
}
.bidbody{
    width: 100%;
    height: 100%;
    border: 0.5px solid rgb(206, 201, 201);
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    
}
.time{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: lighter;

}
.time i{
    margin-right: 10px;
}
.pr{
    padding: 10px 20px;
    border-top: 0.5px solid rgb(206, 201, 201);
    font-size: 25px;

}
.pr img{
    width: 40px;
    margin-right: 10px;
}
.bt{
    width: 70%;
    border-radius: 7px;
    height: 50px;
    background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
    border: none;
    font-weight: bolder;
    color: white;
}
.lll{
    padding: 0 20px 20px 20px;

}
@media only screen and (max-width: 762px) {
   
    .nftbox{
        padding: 0 ;
    }
  }